body{
	width:100%;
	height:100vh;
	margin:0;
	background-color:#669999;
	color:#f5f6f7;
	font-family:Tahoma,Serif;
	font-size:18px;
	
}
h1,p,footer{
	margin:1em auto;
	text-align:center;
	}
form{
	width:60vw;	min-width:300px;max-width:500px;margin:0 auto;
	padding-bottom:2em;
}
fieldset{border:20px;width:60vw; 
	padding:1em;border-bottom:3px solid #3b3b4f;
	}
fieldset:last-of-type{border-bottom:none;}
label{display:block;margin:0.5rem 0;}
input,textarea,select{
	margin:0 0 0 0;width:100%;min-height:2em;
	font-size:20px;
	color:#4d4d4d;
	}
	.inline{
		width:unset; margin:0 0.5em 0 0;vertical-align:middle;
	}
	.inline{display:inline;}
	input[type="radio"]{vertical-align:middle;
		
	}
